<div class="main-content">
  <%= form_with(model: @tweet, local: true) do |form| %>
    <div class="form">
      <div class="form-header">
        <%= form.submit "編集する", class: "form-btn" %>
      </div>
      <div class="form-box">
        <%= form.text_area :text, placeholder: "コメント" , rows: "10", class: "form-text" %>
        <label class="image-file">
          <i class="fas fa-image fa-4x"></i>
          <%= form.file_field :image, class: "file" %>
        </label>
      </div>
    </div>
  <% end %>
</div>