<% if user_signed_in? %>
  <div class="heart">
    <% if tweet.likes.find_by(user_id:current_user.id) %>
      <label class="like">
      <i class="fas fa-heart fa-lg"></i>
      <div class="iine"><%= button_to 'いいねを取り消す', "/tweets/#{tweet.id}/likes/id" , method: :delete %></div>
      </label>
    <% else %>
      <label class="unlike">
      <i class="far fa-heart fa-lg"></i>
      <div class="iine"><%= button_to 'いいね', "/tweets/#{tweet.id}/likes"  %></div>
      </label>
    <% end %>
    <%= tweet.likes.size %>
  </div>
<% end %>