.form{
  width: 50vw;
  height: 70vh;
  margin: auto;
  margin-top: 30px;
  border-radius: 20px;
  background-color: white;
}

.form-header{
  height: 70px;
  text-align: center;
}

.form-btn{
  background-color: #00ffff;
  color: #000033;
  border-radius: 10px;
  line-height: 50px;
  cursor: pointer;
}


.form-box{
  height: calc(100% - 20px);
  width: 100%;
  text-align: center;
  position: relative;
}

.form-text{
  width: 100%;
  height: calc(100% - 50px);
  border-radius: 0 0 10px 10px;
  border: none;
  padding-left: 10px;
}

.image-file{
  cursor: pointer;
  color: #ff8c00;
  position: absolute;
  bottom: 50px;
  right: 10px;
}

.file{
  display: none;
}


