* {
  box-sizing: border-box;
}

.wrapper{
  height:100%;
  width: 100%;
  position: relative;
}

.header{
  height: 80px;
  width: 100%;
  background-color: #ff8c00;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-name{
  font-size: 20px;
  color: white;
  margin-left: 10vh;
}

.header-null{
  margin-right: 200px;
}

.header-title{
  font-size: 30px;
  color: white;
  padding: 5px;
  font-family: Courier;
}

.header-title:hover{
  color: #d3d3d3;
}

.logs{
  display: flex;
  margin: 20px;
}

.log:hover{
  transform: translateY(-3px);
  transition: 0.3s;
}

.post{
  color: white;
  border: 1px solid white;
  padding: 10px;
  margin-right: 5px;
  border-radius: 10px;
}

.main-content{
  height: calc(100vh - 160px);
  width: 100%;
  background-color: wheat;
  overflow: scroll;
  position: relative;
}

.tweet{
  width: 700px;
  margin: 0 auto;
  margin-top: 20px;
  border: 1px solid white;
  border-radius: 10px;
}

.name-box{
  height: 40px;
}

.name-box-name{
  font-size: 20px;
  padding-left: 10px;
  float: left;
  line-height: 40px;
  color: black;
}

.name-box-date{
  font-size: 15px;
  padding-left: 20px;
  color: #a9a9a9;
  float: left;
  line-height: 40px;
}

.more{
  float: right;
  width: 50px;
  text-align: right;
  margin-right: 15px;
}

.more-icon{
  cursor: pointer;
  margin-bottom: -10px;
  font-size: 25px;
}

.link{
  font-size: 18px;
  color: #222222;
  border: 1px solid black;
  padding: 0 3px;
  border-radius: 5px;
  display: none;
  margin-right: -5px;
}

.link:hover{
  color: #666666;
  border: 1px solid #666666;
}

.more:hover .link{
  display: inline-block;
}
   
.tweet-text{
  padding-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  word-wrap: break-word;
}

.item-box-icon{
  padding-left: 10px;
  display: flex;
  margin-bottom: 5px;
}

.comment{
  position: relative;
}

.heart{
  margin-left: 10px;
}

.icon-box{
  height: 80px;
  width: 80px;
  background-color: aqua;
  border-radius: 50%;
  position: fixed;
  bottom: 90px;
  right: 10px;
  text-align: center;
  cursor: pointer;
}

.icon-box:hover{
  box-shadow: 0 10px 15px -5px rgba(0,0,0,.15),0 0 5px rgba(0,0,0,.1);
  transform: translateY(-3px);
  transition: 0.3s;
}

.feather-icon{
  color: white;
  display: inline;
  line-height: 100px;
}
  
.footer{
  height: 80px;
  width: 100%;
  background-color: #ffff33; 
} 
 
.footer-icons{
  display: flex;
  justify-content: space-between;
  padding: 15px 15%;
}

.search{
  cursor: pointer;
  color: #ff8c00;
}

.search:hover{
  color: red;
}

li{
  margin-top: 5px;
}

.name-title{
  text-align: center;
  margin: 20px 0;
}

.home{
  color: #ff8c00;
}

.home:hover{
  color: red;
}

.cog{
  color: #ff8c00;
}

.cog:hover{
  color: red;
}
